<?xml version="1.0" encoding="UTF-8" ?>
<it.unipi.dii.aide.mircv.searchEngine.config.ConfigurationParameters>
    <rawCollectionPath>data/sampled_collection.tsv</rawCollectionPath>
    <loadedCollectionPath>data/loadedData.tsv</loadedCollectionPath>
    <stopwordsPath>.config/stopwords.txt</stopwordsPath>
    <processedCollectionPath>data/processedCollection.db</processedCollectionPath>
    <documentIndexPath>data/documentIndex</documentIndexPath>
    <frequencyFileName>/frequencies</frequencyFileName>
    <vocabularyFileName>/vocabulary</vocabularyFileName>
    <docidsFileName>/docids</docidsFileName>
    <vocabularyPath>data/vocabulary</vocabularyPath>
    <invertedIndexPath>data/invertedIndex.txt</invertedIndexPath>
    <partialVocabularyDir>data/partial_vocabulary</partialVocabularyDir>
    <frequencyDir>data/partial_frequencies</frequencyDir>
    <docidsDir>data/partial_docids</docidsDir>
    <collectionStatisticsPath>config/collectionStatistics</collectionStatisticsPath>
</it.unipi.dii.aide.mircv.searchEngine.config.ConfigurationParameters>