<?xml version="1.0" encoding="UTF-8" ?>
<it.unipi.dii.aide.mircv.searchEngine.config.ConfigurationParameters>
    <rawCollectionPath>data/sampled_collection.tsv</rawCollectionPath>
    <loadedCollectionPath>data/loadedData.tsv</loadedCollectionPath>
    <stopwordsPath>config/stopwords.txt</stopwordsPath>
    <processedCollectionPath>data/processedCollection.db</processedCollectionPath>
    <documentIndexPath>data/document_index.txt</documentIndexPath>
    <partialIndexPath>data/index/index_</partialIndexPath>
    <vocabularyPath>data/vocabulary.txt</vocabularyPath>
    <invertedIndexPath>data/invertedIndex.txt</invertedIndexPath>
</it.unipi.dii.aide.mircv.searchEngine.config.ConfigurationParameters>